@font-face {
    font-family: 'FuturaMedium';
    src: url('futurastd-medium.woff');
    src: url('futurastd-medium.eot') format('embedded-opentype'),
         url('futurastd-medium.woff') format('woff'),
         url('futurastd-medium.ttf') format('truetype'),
         url('futurastd-medium.svg#FuturaStdMedium') format('svg');
}
