h1,
h2 {
  font-family: 'FuturaMedium';
}
body {
  font-family: Arial, sans-serif;
}
h2 {
  font-size: 28px;
}
html {
  overflow: hidden;
}
.page {
  padding-top: 100px;
  width: 100%;
  height: 93.66%;
  float: right;
  overflow-x: hidden;
}
.brand {
  background-image: url('../img/oraj_logo_big.png');
  background-repeat: no-repeat;
  background-position: center left;
  height: 15px;
  width: 281px;
}
#home-page-background {
  background-image: url('../img/home_text_bg.png');
  background-position-x: 50%;
  background-position-y: 20%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  text-align: center;
}
#orange {
  color: #e98300;
  font-family: 'FuturaBold', Arial, sans-serif;
  font-size: 80pt;
  font-weight: bold;
  padding-top: 198px;
}
#homeText {
  color: #000000;
  font-family: 'FuturaBold', Arial, sans-serif;
  font-size: 43pt;
  line-height: 75px;
  padding-top: 50px;
  font-weight: bold;
}
#homeOrdinaLogo {
  padding-top: 50px;
}
#viewport {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #000000;
  text-shadow: none;
  text-transform: capitalize;
  font-weight: bold;
}
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  color: #e98300;
}
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  background-color: #000000;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  border-width: 0 0 2px;
}
.navbar .nav {
  float: right;
}
#ordina_logo {
  background-image: url('../img/ordina_logo.png');
  background-repeat: no-repeat;
  width: 95px;
  height: 40px;
  background-size: 95px 25px;
  background-position: center right;
  margin-left: 15px;
}
@media (max-width: 979px) {
  #ordina_logo {
    display: none;
  }
}
.navbar-inverse .navbar-inner {
  background-image: none;
  filter: ;
  background-color: #ffffff;
  background-repeat: repeat-x;
  border-color: #252525;
}
@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 1920px) {
  #homepage {
    background-image: url('../img/background/home-1920.jpg');
    background-attachment: fixed;
  }
}
@media screen and (max-width: 1440px) {
  #homepage {
    background-image: url('../img/background/home-1440.jpg');
    background-attachment: fixed;
  }
}
@media screen and (max-width: 640px) {
  #homepage {
    background-image: url('../img/background/home-640.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 480px) {
  #homepage {
    background-image: url('../img/background/home-480.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 1920px) {
  #page2 {
    background-image: url('../img/background/about-1920.jpg');
    background-attachment: fixed;
  }
}
@media screen and (max-width: 1440px) {
  #page2 {
    background-image: url('../img/background/about-1440.jpg');
    background-attachment: fixed;
  }
}
@media screen and (max-width: 640px) {
  #page2 {
    background-image: url('../img/background/about-640.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 480px) {
  #page2 {
    background-image: url('../img/background/about-480.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 1920px) {
  #page3 {
    background-image: url('../img/background/specialization-1920.jpg');
    background-attachment: fixed;
  }
}
@media screen and (max-width: 1440px) {
  #page3 {
    background-image: url('../img/background/specialization-1440.jpg');
    background-attachment: fixed;
  }
}
@media screen and (max-width: 640px) {
  #page3 {
    background-image: url('../img/background/specialization-640.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 480px) {
  #page3 {
    background-image: url('../img/background/specialization-480.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 1920px) {
  #page4 {
    background-image: url('../img/background/jobs-1920.jpg');
    background-attachment: fixed;
  }
}
@media screen and (max-width: 1440px) {
  #page4 {
    background-image: url('../img/background/jobs-1440.jpg');
    background-attachment: fixed;
  }
}
@media screen and (max-width: 640px) {
  #page4 {
    background-image: url('../img/background/jobs-640.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 480px) {
  #page4 {
    background-image: url('../img/background/jobs-480.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
