/* FUNCTIONS */
h1,
h2 {
  font-family: 'FuturaMedium';
}
body {
  font-family: Arial, sans-serif;
}
h2 {
  font-size: 28px;
}
html {
  overflow: hidden;
}
.page {
  /* MOST SMARTPHONES PORTRAIT */

  /* MOST SMARTPHONES landscape */

}
@media screen and (min-width: 319px) {
  .page {
    padding-top: 25px;
    width: 100%;
    height: 93.66%;
    float: right;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 479px) {
  .page {
    padding-top: 0px;
    width: 100%;
    height: 93.66%;
    float: right;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 599) {
  .page {
    padding-top: 60px;
    width: 100%;
    height: 93.66%;
    float: right;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 679px) {
  .page {
    padding-top: 60px;
    width: 100%;
    height: 93.66%;
    float: right;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 799px) {
  .page {
    padding-top: 80px;
    width: 100%;
    height: 93.66%;
    float: right;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 1023px) {
  .page {
    padding-top: 0px;
    width: 100%;
    height: 93.66%;
    float: right;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 1400px) {
  .page {
    padding-top: 80px;
    width: 100%;
    height: 93.66%;
    float: right;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 1919px) {
  .page {
    padding-top: 100px;
    width: 100%;
    height: 93.66%;
    float: right;
    overflow-x: hidden;
  }
}
@media (max-width: 767px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.brand {
  /* MOST SMARTPHONES PORTRAIT */

}
@media screen and (min-width: 319px) {
  .brand {
    background-image: url('../img/oraj_logo_small.png');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 150px;
    height: 15px;
    width: 150px;
  }
}
@media screen and (min-width: 1023px) {
  .brand {
    background-image: url('../img/oraj_logo_big.png');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 281px;
    height: 15px;
    width: 281px;
  }
}
@media screen and (min-width: 1400px) {
  .brand {
    background-image: url('../img/oraj_logo_big.png');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 281px;
    height: 15px;
    width: 281px;
  }
}
@media screen and (min-width: 1919px) {
  .brand {
    background-image: url('../img/oraj_logo_big.png');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 281px;
    height: 15px;
    width: 281px;
  }
}
#home-page-background {
  background-image: url('../img/home_text_bg.png');
  /* MOST SMARTPHONES PORTRAIT */

  /* MOST SMARTPHONES landscape */

}
@media screen and (min-width: 319px) {
  #home-page-background {
    background-size: 280px;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    height: 100%;
    width: 90%;
    margin: auto;
    text-align: center;
  }
}
@media screen and (min-width: 479px) {
  #home-page-background {
    background-size: 280px;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    height: 100%;
    width: 90%;
    margin: auto;
    text-align: center;
  }
}
@media screen and (min-width: 767px) {
  #home-page-background {
    background-size: 280px;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
  }
}
@media screen and (min-width: 799px) {
  #home-page-background {
    background-size: 500px;
    background-position-x: center;
    background-position-y: 50;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 1400px) {
  #home-page-background {
    background-size: 500px;
    background-position-x: center;
    background-position-y: 50;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 1919px) {
  #home-page-background {
    background-size: 600px;
    background-position-x: center;
    background-position-y: 50;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: static;
}
#orange {
  color: #e98300;
  font-family: 'FuturaBold', Arial, sans-serif;
  /* MOST SMARTPHONES PORTRAIT */

  /* MOST SMARTPHONES landscape */

}
@media screen and (min-width: 319px) {
  #orange {
    font-size: 40pt;
    padding-top: 70px;
  }
}
@media screen and (min-width: 479px) {
  #orange {
    font-size: 40pt;
    padding-top: 50px;
  }
}
@media screen and (min-width: 799px) {
  #orange {
    font-size: 60pt;
    font-weight: bold;
    padding-top: 170px;
  }
}
@media screen and (min-width: 1919px) {
  #orange {
    font-size: 80pt;
    font-weight: bold;
    padding-top: 198px;
  }
}
#homeText {
  color: #000000;
  font-family: 'FuturaBold', Arial, sans-serif;
  /* MOST SMARTPHONES PORTRAIT */

  /* MOST SMARTPHONES PORTRAIT */

}
@media screen and (min-width: 319px) {
  #homeText {
    font-size: 16pt;
    line-height: 28px;
    padding-top: 0px;
  }
}
@media screen and (min-width: 479px) {
  #homeText {
    font-size: 18pt;
    line-height: 28px;
    padding-top: 10px;
  }
}
@media screen and (min-width: 799px) {
  #homeText {
    font-size: 42pt;
    line-height: 60px;
    padding-top: 30px;
    font-weight: bold;
  }
}
@media screen and (min-width: 1400px) {
  #homeText {
    font-size: 42pt;
    line-height: 60px;
    padding-top: 30px;
    font-weight: bold;
  }
}
@media screen and (min-width: 1919px) {
  #homeText {
    font-size: 43pt;
    line-height: 75px;
    padding-top: 50px;
    font-weight: bold;
  }
}
#homeOrdinaLogo {
  /* MOST SMARTPHONES PORTRAIT */

}
@media screen and (min-width: 479px) {
  #homeOrdinaLogo {
    padding-top: 10px;
    width: 150px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1919px) {
  #homeOrdinaLogo {
    padding-top: 50px;
  }
}
#viewport {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #000000;
  text-shadow: none;
  text-transform: capitalize;
  font-weight: bold;
}
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  color: #e98300;
}
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  background-color: #000000;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  border-width: 0 0 2px;
}
.navbar .nav {
  float: right;
}
#ordina_logo {
  background-image: url('../img/ordina_logo.png');
  background-repeat: no-repeat;
  width: 80px;
  height: 20px;
  background-size: 95px 22px;
  background-position: center right;
}
@media (max-width: 979px) {
  #ordina_logo {
    display: none;
  }
}
.navbar-inverse .navbar-inner {
  background-image: none;
  filter: ;
  background-color: #ffffff;
  background-repeat: repeat-x;
  border-color: #252525;
}
@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}
#homepage {
  /* MOST SMARTPHONES PORTRAIT */

}
@media screen and (min-width: 319px) {
  #homepage {
    background-image: url('../img/background/home-800.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 319px) {
  #homepage {
    background-image: url('../img/background/home-1024.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 479px) {
  #homepage {
    background-image: url('../img/background/home-1440.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 639px) {
  #homepage {
    background-image: url('../img/background/home-800.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 767px) {
  #homepage {
    background-image: url('../img/background/home-1440.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1280px) {
  #homepage {
    background-image: url('../img/background/home-1440.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1439px) {
  #homepage {
    background-image: url('../img/background/home-1733.jpg');
    background-attachment: fixed;
  }
}
@media screen and (min-width: 1732px) {
  #homepage {
    background-image: url('../img/background/home-1920.jpg');
    background-attachment: fixed;
  }
}
@media screen and (min-width: 1919px) {
  #homepage {
    background-image: url('../img/background/home-2560.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
#page2 {
  /* MOST SMARTPHONES PORTRAIT */

}
@media screen and (min-width: 319px) {
  #page2 {
    background-image: url('../img/background/about-800.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 319px) {
  #page2 {
    background-image: url('../img/background/about-1024.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 479px) {
  #page2 {
    background-image: url('../img/background/about-1440.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 639px) {
  #page2 {
    background-image: url('../img/background/about-800.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 767px) {
  #page2 {
    background-image: url('../img/background/about-1440.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1280px) {
  #page2 {
    background-image: url('../img/background/about-1440.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1439px) {
  #page2 {
    background-image: url('../img/background/about-1733.jpg');
    background-attachment: fixed;
  }
}
@media screen and (min-width: 1732px) {
  #page2 {
    background-image: url('../img/background/about-1920.jpg');
    background-attachment: fixed;
  }
}
@media screen and (min-width: 1919px) {
  #page2 {
    background-image: url('../img/background/about-2560.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
#page3 {
  /* MOST SMARTPHONES PORTRAIT */

}
@media screen and (min-width: 319px) {
  #page3 {
    background-image: url('../img/background/specialization-800.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 319px) {
  #page3 {
    background-image: url('../img/background/specialization-1024.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 479px) {
  #page3 {
    background-image: url('../img/background/specialization-1440.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 639px) {
  #page3 {
    background-image: url('../img/background/specialization-800.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 767px) {
  #page3 {
    background-image: url('../img/background/specialization-1440.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1280px) {
  #page3 {
    background-image: url('../img/background/specialization-1440.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1439px) {
  #page3 {
    background-image: url('../img/background/specialization-1733.jpg');
    background-attachment: fixed;
  }
}
@media screen and (min-width: 1732px) {
  #page3 {
    background-image: url('../img/background/specialization-1920.jpg');
    background-attachment: fixed;
  }
}
@media screen and (min-width: 1919px) {
  #page3 {
    background-image: url('../img/background/specialization-2560.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
#page4 {
  /* MOST SMARTPHONES PORTRAIT */

}
@media screen and (min-width: 319px) {
  #page4 {
    background-image: url('../img/background/jobs-800.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 319px) {
  #page4 {
    background-image: url('../img/background/jobs-1024.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 479px) {
  #page4 {
    background-image: url('../img/background/jobs-1440.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 639px) {
  #page4 {
    background-image: url('../img/background/jobs-800.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 767px) {
  #page4 {
    background-image: url('../img/background/jobs-1440.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1280px) {
  #page4 {
    background-image: url('../img/background/jobs-1440.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1439px) {
  #page4 {
    background-image: url('../img/background/jobs-1733.jpg');
    background-attachment: fixed;
  }
}
@media screen and (min-width: 1732px) {
  #page4 {
    background-image: url('../img/background/jobs-1920.jpg');
    background-attachment: fixed;
  }
}
@media screen and (min-width: 1919px) {
  #page4 {
    background-image: url('../img/background/jobs-2560.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
