/* FUNCTIONS */
h1,
h2 {
  font-family: 'FuturaMedium';
}
body {
  font-family: Arial, sans-serif;
  background-color: #e98300;
}
h2 {
  font-size: 28px;
}
html {
  overflow: hidden;
}
.page {
  /* MOST SMARTPHONES PORTRAIT */

  /* MOST SMARTPHONES landscape */

}
@media screen and (min-width: 319px) {
  .page {
    padding-top: 30px;
    width: 100%;
    max-height: 90%;
    overflow: auto;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 479px) {
  .page {
    padding-top: 30px;
    width: 100%;
    max-height: 90%;
    overflow: auto;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 599px) {
  .page {
    padding-top: 60px;
    width: 100%;
    max-height: 87.5%;
    overflow: auto;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 679px) {
  .page {
    padding-top: 60px;
    width: 100%;
    max-height: 87.5%;
    overflow: auto;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 767px) and (min-height: 550px) {
  .page {
    width: 100%;
    max-height: 87%;
    overflow: auto;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 797px) {
  .page {
    width: 100%;
    max-height: 87%;
    overflow: auto;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 1023px) {
  .page {
    padding-top: 40px;
    width: 100%;
    max-height: 95%;
    overflow: auto;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 1919px) {
  .page {
    padding-top: 100px;
    height: 93.66%;
    width: 100%;
    max-height: 85.1%;
    overflow: auto;
    overflow-x: hidden;
  }
}
@media (max-width: 979px) {
  .nav {
    width: 100%;
  }
}
@media (max-width: 980px) {
  .nav > li {
    text-align: right;
    padding-top: 2px;
  }
}
@media (max-width: 767px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 979px) {
  .navbar .brand {
    margin: 0px !important;
    padding: 10px 10px 9px;
  }
}
.brand {
  /* MOST SMARTPHONES PORTRAIT */

}
@media screen and (min-width: 319px) {
  .brand {
    margin-left: 5px;
    background-image: url('../img/oraj_logo_small.png');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 110px;
    height: 15px;
    width: 150px;
  }
}
@media screen and (min-width: 1023px) {
  .brand {
    background-image: url('../img/oraj_logo_big.png');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 281px;
    height: 15px;
    width: 281px;
  }
}
@media screen and (min-width: 1400px) {
  .brand {
    background-image: url('../img/oraj_logo_big.png');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 281px;
    height: 15px;
    width: 281px;
  }
}
@media screen and (min-width: 1919px) {
  .brand {
    background-image: url('../img/oraj_logo_big.png');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 281px;
    height: 15px;
    width: 281px;
  }
}
#home-page-background {
  background-image: url('../img/home_text_bg.png');
  /* MOST SMARTPHONES PORTRAIT */

  /* MOST SMARTPHONES landscape */

}
@media screen and (min-width: 319px) {
  #home-page-background {
    background-size: 250px;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    height: 96%;
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 479px) {
  #home-page-background {
    background-size: 280px;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    height: 96%;
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 767px) {
  #home-page-background {
    background-size: 280px;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    height: 96%;
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 767px) and (min-height: 600px) {
  #home-page-background {
    background-size: 400px;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    height: 98%;
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 799px) {
  #home-page-background {
    background-size: 400px;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 1023px) {
  #home-page-background {
    background-size: 500px;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 1399px) {
  #home-page-background {
    background-size: 500px;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 1919px) {
  #home-page-background {
    background-size: 600px;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: static;
}
#orange {
  color: #e98300;
  font-family: 'FuturaBold', Arial, sans-serif;
  /* MOST SMARTPHONES PORTRAIT */

  /* MOST SMARTPHONES landscape */

}
@media screen and (min-width: 319px) {
  #orange {
    font-size: 40pt;
    padding-top: 60px;
  }
}
@media screen and (min-width: 479px) {
  #orange {
    font-size: 40pt;
    padding-top: 63px;
  }
}
@media screen and (min-width: 767px) {
  #orange {
    font-size: 40pt;
    padding-top: 55px;
  }
}
@media screen and (min-width: 767px) and (min-height: 600px) {
  #orange {
    font-size: 55pt;
    padding-top: 95px;
  }
}
@media screen and (min-width: 799px) {
  #orange {
    font-size: 55pt;
    font-weight: bold;
    padding-top: 95px;
  }
}
@media screen and (min-width: 1023px) {
  #orange {
    font-size: 60pt;
    font-weight: bold;
    padding-top: 120px;
  }
}
@media screen and (min-width: 1919px) {
  #orange {
    font-size: 80pt;
    font-weight: bold;
    padding-top: 150px;
  }
}
#homeText {
  color: #000000;
  font-family: 'FuturaBold', Arial, sans-serif;
  /* MOST SMARTPHONES PORTRAIT */

  /* MOST SMARTPHONES PORTRAIT */

}
@media screen and (min-width: 319px) {
  #homeText {
    font-size: 16pt;
    line-height: 28px;
    padding-top: 0px;
  }
}
@media screen and (min-width: 479px) {
  #homeText {
    font-size: 21pt;
    line-height: 28px;
    padding-top: 10px;
  }
}
@media screen and (min-width: 767px) {
  #homeText {
    font-size: 23pt;
    line-height: 30px;
  }
}
@media screen and (min-width: 767px) and (min-height: 600px) {
  #homeText {
    font-size: 28pt;
    line-height: 40px;
    padding-top: 30px;
    font-weight: bold;
  }
}
@media screen and (min-width: 799px) {
  #homeText {
    font-size: 28pt;
    line-height: 40px;
    padding-top: 30px;
    font-weight: bold;
  }
}
@media screen and (min-width: 1023px) {
  #homeText {
    font-size: 43pt;
    line-height: 60px;
    padding-top: 40px;
    font-weight: bold;
  }
}
@media screen and (min-width: 1399px) {
  #homeText {
    font-size: 43pt;
    line-height: 60px;
    padding-top: 40px;
    font-weight: bold;
  }
}
@media screen and (min-width: 1919px) {
  #homeText {
    font-size: 43pt;
    line-height: 75px;
    padding-top: 50px;
    font-weight: bold;
  }
}
#homeOrdinaLogo {
  /* MOST SMARTPHONES PORTRAIT */

}
@media screen and (min-width: 319px) {
  #homeOrdinaLogo {
    padding-top: 10px;
    padding-bottom: 150px;
    width: 150px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 479px) {
  #homeOrdinaLogo {
    padding-top: 10px;
    width: 150px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 767px) {
  #homeOrdinaLogo {
    padding-top: 10px;
    width: 150px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 767px) and (min-height: 600px) {
  #homeOrdinaLogo {
    padding-top: 25px;
    width: 175px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 799px) {
  #homeOrdinaLogo {
    padding-top: 25px;
    width: 175px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1023px) {
  #homeOrdinaLogo {
    padding-top: 30px;
    width: 200px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1399px) {
  #homeOrdinaLogo {
    padding-top: 30px;
    width: 200px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1919px) {
  #homeOrdinaLogo {
    padding-top: 30px;
    width: 200px;
    margin: 0 auto;
  }
}
#viewport {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #000000;
  text-shadow: none;
  text-transform: capitalize;
  font-weight: bold;
}
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  color: #e98300;
}
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  background-color: #333333;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  border-width: 0 0 2px;
  border-color: #333333;
  min-height: 0px;
}
.navbar .nav {
  float: right;
}
#ordina_logo {
  background-image: url('../img/ordina_logo.png');
  background-repeat: no-repeat;
  width: 80px;
  height: 20px;
  background-size: 95px 22px;
  background-position: center right;
}
@media (max-width: 979px) {
  #ordina_logo {
    display: none;
  }
}
.navbar-inverse .navbar-inner {
  background-image: none;
  background-color: #ffffff;
  background-repeat: repeat-x;
  border-color: #252525;
}
@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}
#homepage {
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* MOST SMARTPHONES PORTRAIT */

}
@media screen and (min-width: 319px) {
  #homepage {
    background-image: url('../img/background/home-640.jpg');
  }
}
@media screen and (min-width: 319px) and (min-height: 450px) {
  #homepage {
    background-image: url('../img/background/home-1024.jpg');
  }
}
@media screen and (min-width: 319px) and (min-height: 700px) {
  #homepage {
    background-image: url('../img/background/home-1280.jpg');
  }
}
@media screen and (min-width: 319px) and (min-height: 900px) {
  #homepage {
    background-image: url('../img/background/home-1440.jpg');
  }
}
@media screen and (min-width: 479px) {
  #homepage {
    background-image: url('../img/background/home-640.jpg');
  }
}
@media screen and (min-width: 479px) and (min-height: 450px) {
  #homepage {
    background-image: url('../img/background/home-1024.jpg');
  }
}
@media screen and (min-width: 479px) and (min-height: 700px) {
  #homepage {
    background-image: url('../img/background/home-1280.jpg');
  }
}
@media screen and (min-width: 479px) and (min-height: 900px) {
  #homepage {
    background-image: url('../img/background/home-1440.jpg');
  }
}
@media screen and (min-width: 639px) {
  #homepage {
    background-image: url('../img/background/home-800.jpg');
  }
}
@media screen and (min-width: 639px) and (min-height: 550px) {
  #homepage {
    background-image: url('../img/background/home-1280.jpg');
  }
}
@media screen and (min-width: 767px) {
  #homepage {
    background-image: url('../img/background/home-800.jpg');
  }
}
@media screen and (min-width: 767px) and (min-height: 550px) {
  #homepage {
    background-image: url('../img/background/home-1440.jpg');
  }
}
@media screen and (min-width: 799px) {
  #homepage {
    background-image: url('../img/background/home-1280.jpg');
  }
}
@media screen and (min-width: 1280px) {
  #homepage {
    background-image: url('../img/background/home-1440.jpg');
  }
}
@media screen and (min-width: 1439px) {
  #homepage {
    background-image: url('../img/background/home-1733.jpg');
  }
}
@media screen and (min-width: 1732px) {
  #homepage {
    background-image: url('../img/background/home-1920.jpg');
  }
}
@media screen and (min-width: 1919px) {
  #homepage {
    background-image: url('../img/background/home-2560.jpg');
  }
}
/* ABOUT ORAJ */
#oraj-numbers {
  width: 55%;
  float: right;
}
@media screen and (min-width: 319px) {
  
}
@media screen and (min-width: 767px) {
  #bumsContainer {
    height: 95%;
    position: absolute;
    bottom: 0px;
  }
}
@media screen and (min-width: 767px) and (max-height: 1024px) {
  #bumsContainer {
    height: 75%;
  }
}
@media screen and (min-width: 1023px) {
  #bumsContainer {
    height: 91%;
    position: absolute;
    bottom: 0px;
  }
}
@media screen and (min-width: 1199px) {
  #bumsContainer {
    height: 90%;
  }
}
@media screen and (min-width: 1399px) {
  #bumsContainer {
    height: 91%;
    position: absolute;
    bottom: 0px;
  }
}
@media screen and (min-width: 1439px) {
  
}
@media screen and (min-width: 1599px) {
  #bumsContainer {
    height: 85%;
  }
}
.managercontainer {
  margin-top: 20px;
  width: 40%;
  float: left;
}
.mobile {
  display: block;
}
@media screen and (min-width: 767px) {
  .mobile {
    display: none;
  }
}
.nonmobile {
  display: none;
}
@media screen and (min-width: 767px) {
  .nonmobile {
    display: block;
  }
}
@media screen and (min-width: 319px) {
  #aboutText {
    display: none;
    background-color: rgba(51, 51, 51, 0.8);
    margin-top: 12%;
    width: 95%;
    padding: 10;
  }
}
@media screen and (min-width: 767px) {
  #aboutText {
    display: block;
    background-color: rgba(51, 51, 51, 0.8);
    margin-top: 5%;
    width: 87%;
    float: right;
  }
}
@media screen and (min-width: 980px) {
  #aboutText {
    margin-top: 5%;
  }
}
@media screen and (min-width: 1399px) {
  #aboutText {
    margin-top: 5%;
  }
}
@media screen and (min-width: 1439px) {
  #aboutText {
    margin-top: 8.3%;
  }
}
@media screen and (min-width: 1599px) {
  #aboutText {
    margin-top: 15%;
  }
}
@media screen and (min-width: 319px) {
  #aboutTextTop {
    display: block;
    background-color: rgba(51, 51, 51, 0.8);
    margin-top: 12%;
    width: 95%;
    padding: 10;
  }
}
@media screen and (min-width: 767px) {
  #aboutTextTop {
    display: none;
    background-color: rgba(51, 51, 51, 0.8);
    margin-top: 12%;
    width: 87%;
    float: right;
  }
}
@media screen and (min-width: 767px) {
  #aboutText h2,
  #aboutText p,
  #aboutTextTop h2,
  #aboutTextTop p {
    margin-left: 260px;
    padding-right: 50px;
  }
}
#aboutText p,
#aboutTextTop p {
  color: white;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
#aboutText h2,
#aboutTextTop h2 {
  font-family: 'FuturaBold';
  color: #e98300;
  font-size: 38px;
  margin-top: 30px;
  padding-left: 20px;
}
@media screen and (min-width: 767px) {
  #bottomRow {
    margin-top: 50px;
  }
}
@media screen and (min-width: 1023px) {
  #bottomRow {
    margin-top: 20px;
  }
}
#bumNames {
  color: #e98300;
  margin-left: 0px;
  width: 70.9%;
  text-align: center;
  line-height: 75px;
}
@media screen and (min-width: 319px) {
  #bumNames {
    width: 100%;
  }
}
@media screen and (device-width: 384px) and (device-height: 592px) and (-webkit-device-pixel-ratio: 2) {
  #bumNames {
    width: 95%;
  }
}
@media screen and (min-width: 479px) {
  #bumNames {
    width: 90%;
  }
}
@media screen and (min-width: 567px) {
  #bumNames {
    width: 80%;
  }
}
@media screen and (min-width: 591px) {
  #bumNames {
    width: 75%;
  }
}
@media screen and (min-width: 767px) {
  #bumNames {
    width: 80%;
  }
}
#bumNames h2 {
  font-family: 'FuturaBold';
}
@media screen and (min-width: 319px) {
  #bumNames h2 {
    font-size: 20px;
  }
}
@media screen and (device-width: 384px) and (device-height: 592px) and (-webkit-device-pixel-ratio: 2) {
  #bumNames h2 {
    font-size: 24px;
  }
}
@media screen and (min-width: 479px) {
  #bumNames h2 {
    font-size: 28px;
  }
}
@media screen and (min-width: 591px) {
  #bumNames h2 {
    font-size: 24px;
  }
}
@media screen and (min-width: 767px) {
  #bumNames h2 {
    font-size: 18px;
  }
}
@media screen and (min-width: 1023px) {
  #bumNames h2 {
    font-size: 22px;
  }
}
@media screen and (min-width: 1399px) {
  #bumNames h2 {
    font-size: 28px;
  }
}
#jurgenArrow {
  background-image: url('../img/arrow_jurgen.png');
  background-repeat: no-repeat;
  height: 108px;
}
@media screen and (min-width: 319px) {
  #jurgenArrow {
    float: left;
    margin-top: 60;
    width: 13%;
  }
}
@media screen and (min-width: 479px) {
  #jurgenArrow {
    margin-left: 20px;
    margin-top: 50px;
  }
}
@media screen and (min-width: 567px) {
  #jurgenArrow {
    margin-left: 50px;
  }
}
@media screen and (min-width: 591px) {
  #jurgenArrow {
    margin-left: 80px;
  }
}
@media screen and (min-width: 767px) {
  #jurgenArrow {
    margin-left: -20px;
    margin-top: 35px;
  }
}
#johanArrow {
  background-image: url('../img/arrow_johan.png');
  background-repeat: no-repeat;
  height: 80px;
}
@media screen and (min-width: 319px) {
  #johanArrow {
    float: right;
    width: 14%;
    margin-right: 10px;
    margin-top: -20;
  }
}
@media screen and (min-width: 567px) {
  #johanArrow {
    margin-right: 30px;
  }
}
@media screen and (min-width: 591px) {
  #johanArrow {
    margin-right: 50px;
  }
}
@media screen and (min-width: 767px) {
  #johanArrow {
    margin-right: 0;
    margin-left: -55px;
    margin-top: 55px;
    margin-top: 75px;
  }
}
@media screen and (min-width: 799px) {
  #johanArrow {
    margin-top: 75px;
  }
}
#bumPicture {
  background-image: url('../img/johan_jurgen.png');
  background-repeat: no-repeat;
  height: 499px;
}
@media screen and (min-width: 319px) {
  #bumPicture {
    position: absolute;
    min-width: 400px;
  }
}
@media screen and (min-width: 567px) {
  #bumPicture {
    margin-left: 100px;
  }
}
@media screen and (min-width: 591px) {
  #bumPicture {
    margin-left: 100px;
  }
}
@media screen and (min-width: 767px) {
  #bumPicture {
    min-width: 400px;
    margin-left: -75px;
  }
}
@media screen and (min-width: 980px) {
  #bumPicture {
    min-width: 400px;
    margin-left: -20px;
  }
}
@media screen and (min-width: 1023px) {
  #bumPicture {
    margin-left: -40px;
  }
}
@media screen and (min-width: 1200px) {
  #bumPicture {
    margin-left: 0px;
  }
}
@media screen and (min-width: 1399px) {
  #bumPicture {
    margin-left: 0px;
  }
}
#aboutORAJ {
  font-family: 'FuturaBold';
  font-size: 25px;
  color: #e98300;
  text-align: center;
}
@media screen and (min-width: 319px) {
  #aboutORAJ {
    display: block;
  }
}
@media screen and (min-width: 767px) {
  #aboutORAJ {
    display: none;
  }
}
@media screen and (min-width: 319px) {
  #unitManagers {
    color: #333333;
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
  }
}
@media screen and (min-width: 767px) {
  #unitManagers {
    font-size: 35px;
  }
}
@media screen and (min-width: 1023px) {
  #unitManagers {
    margin-left: 0px;
  }
}
#unitManagers h2 {
  font-family: 'FuturaBold';
}
@media screen and (min-width: 767px) and (max-height: 1024px) {
  #unitManagers h2 {
    font-size: 45px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1023px) {
  #unitManagers h2 {
    font-size: 28px;
  }
}
@media screen and (min-width: 1399px) {
  #unitManagers h2 {
    font-size: 36px;
  }
}
@media screen and (min-width: 319px) {
  #textBlock {
    padding: 20px;
  }
}
@media screen and (min-width: 1023px) {
  #textBlock {
    margin-top: 30px;
  }
}
#textBlock p {
  padding-left: 5px;
  font-size: 12px;
}
.number {
  float: left;
}
.number h2 {
  font-family: 'FuturaBold';
}
@media screen and (min-width: 319px) {
  .number h2 {
    font-size: 60px;
  }
}
@media screen and (min-width: 767px) {
  .number h2 {
    font-size: 55px;
  }
}
@media screen and (max-width: 979px) {
  .number h2 {
    font-size: 48px;
  }
}
@media screen and (min-width: 1023px) {
  .number h2 {
    font-size: 65px;
  }
}
@media screen and (min-width: 1399px) {
  .number h2 {
    font-size: 80px;
  }
}
@media screen and (min-width: 319px) {
  #text1,
  #text2,
  #text3,
  #text4 {
    float: left;
  }
}
@media screen and (min-width: 319px) {
  #numberOfPeople,
  #numberOfEvents,
  #numberOfTrainings,
  #numberOfCustomers {
    float: left;
    width: 30%;
    display: inline;
  }
}
@media screen and (min-width: 479px) {
  #numberOfPeople,
  #numberOfEvents,
  #numberOfTrainings,
  #numberOfCustomers {
    width: 20%;
  }
}
@media screen and (min-width: 684px) {
  #numberOfPeople,
  #numberOfEvents,
  #numberOfTrainings,
  #numberOfCustomers {
    width: 16.5%;
  }
}
@media screen and (min-width: 767px) {
  #numberOfPeople,
  #numberOfEvents,
  #numberOfTrainings,
  #numberOfCustomers {
    float: left;
    width: 42%;
    display: inline;
  }
}
@media screen and (min-width: 319px) {
  #numberOfPeopleText,
  #numberOfEventsText,
  #numberOfTrainingsText,
  #numberOfCustomersText {
    float: left;
    display: inline;
    width: 70%;
    border-left: 1px solid #e98300;
  }
}
@media screen and (min-width: 767px) {
  #numberOfPeopleText,
  #numberOfEventsText,
  #numberOfTrainingsText,
  #numberOfCustomersText {
    float: left;
    display: inline;
    width: 53%;
    border-left: 1px solid #e98300;
  }
}
@media screen and (min-width: 319px) {
  .halfRow {
    float: none;
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 767px) {
  .halfRow {
    float: left;
    width: 50%;
  }
}
#page2 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* MOST SMARTPHONES PORTRAIT */

}
@media screen and (min-width: 319px) {
  #page2 {
    background-image: url('../img/background/about-640.jpg');
  }
}
@media screen and (min-width: 319px) and (min-height: 450px) {
  #page2 {
    background-image: url('../img/background/about-1024.jpg');
  }
}
@media screen and (min-width: 319px) and (min-height: 700px) {
  #page2 {
    background-image: url('../img/background/about-1280.jpg');
  }
}
@media screen and (min-width: 319px) and (min-height: 900px) {
  #page2 {
    background-image: url('../img/background/about-1440.jpg');
  }
}
@media screen and (min-width: 479px) {
  #page2 {
    background-image: url('../img/background/about-640.jpg');
  }
}
@media screen and (min-width: 479px) and (min-height: 450px) {
  #page2 {
    background-image: url('../img/background/about-1024.jpg');
  }
}
@media screen and (min-width: 479px) and (min-height: 700px) {
  #page2 {
    background-image: url('../img/background/about-1280.jpg');
  }
}
@media screen and (min-width: 479px) and (min-height: 900px) {
  #page2 {
    background-image: url('../img/background/about-1440.jpg');
  }
}
@media screen and (min-width: 639px) {
  #page2 {
    background-image: url('../img/background/about-800.jpg');
  }
}
@media screen and (min-width: 639px) and (min-height: 550px) {
  #page2 {
    background-image: url('../img/background/about-1280.jpg');
  }
}
@media screen and (min-width: 767px) {
  #page2 {
    background-image: url('../img/background/about-800.jpg');
  }
}
@media screen and (min-width: 767px) and (min-height: 550px) {
  #page2 {
    background-image: url('../img/background/about-1440.jpg');
  }
}
@media screen and (min-width: 799px) {
  #page2 {
    background-image: url('../img/background/about-1280.jpg');
  }
}
@media screen and (min-width: 1280px) {
  #page2 {
    background-image: url('../img/background/about-1440.jpg');
  }
}
@media screen and (min-width: 1439px) {
  #page2 {
    background-image: url('../img/background/about-1733.jpg');
  }
}
@media screen and (min-width: 1732px) {
  #page2 {
    background-image: url('../img/background/about-1920.jpg');
  }
}
@media screen and (min-width: 1919px) {
  #page2 {
    background-image: url('../img/background/about-2560.jpg');
  }
}
/* FOCUS*/
#chartContainer,
#chartContainerTop {
  height: 75%;
  margin-top: -6%;
}
@media screen and (min-width: 319px) {
  #chartContainer {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  #chartContainer {
    display: block;
  }
}
@media screen and (min-width: 319px) {
  #chartContainerTop {
    display: block;
  }
}
@media screen and (min-width: 767px) {
  #chartContainerTop {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  #chartContainer {
    margin-top: 15%;
  }
}
@media screen and (min-width: 767px) and (max-height: 1024px) {
  #chartContainer {
    margin-top: 25%;
  }
}
@media screen and (min-width: 1023px) {
  #chartContainer {
    margin-top: 3%;
  }
}
@media screen and (min-width: 1599) {
  #chartContainer {
    margin-top: 1%;
  }
}
#chartContainer > div > a,
#chartContainerTop > div > a {
  display: none;
}
.focusPercentage {
  font-family: 'FuturaBold';
  color: #e98300;
  font-size: 80px;
  margin-bottom: 25px;
}
.focusText {
  font-family: 'FuturaBold';
  color: #333333;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  margin-bottom: 30px;
}
@media screen and (min-width: 319px) {
  .focusJob {
    font-family: 'FuturaBold';
    color: #e98300;
    font-size: 19px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 479px) {
  .focusJob {
    font-family: 'FuturaBold';
    color: #e98300;
    font-size: 32px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 767px) {
  .focusJob {
    font-family: 'FuturaBold';
    color: #e98300;
    font-size: 19px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 767px) {
  .focusJob {
    font-family: 'FuturaBold';
    color: #e98300;
    font-size: 19px;
    margin-bottom: 0;
  }
}
.javaArchitectIndicator {
  display: inline;
  width: 15px;
  height: 15px;
  background-color: #e98300;
  float: left;
  margin-top: 22px;
  margin-right: 5px;
  -webkit-box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
}
.frontEndDevIndicator {
  display: inline;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  float: left;
  margin-top: 22px;
  margin-right: 5px;
  -webkit-box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
}
.cloudDevIndicator {
  display: inline;
  width: 15px;
  height: 15px;
  background-color: #774519;
  float: left;
  margin-top: 22px;
  margin-right: 5px;
  -webkit-box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
}
.mobileDevIndicator {
  display: inline;
  width: 15px;
  height: 15px;
  background-color: #eeeeee;
  float: left;
  margin-top: 22px;
  margin-right: 5px;
  -webkit-box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
}
.javaDevIndicator {
  display: inline;
  width: 15px;
  height: 15px;
  background-color: #333333;
  float: left;
  margin-top: 22px;
  margin-right: 5px;
  -webkit-box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 319px) {
  .jobImages {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .jobImages {
    display: block;
    height: 35px;
  }
}
@media screen and (min-width: 319px) {
  #facts {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 767px) {
  #facts {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 319px) {
  #legend {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  #legend {
    display: block;
    float: right;
  }
}
@media screen and (min-width: 319px) {
  #legendTop {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 479px) {
  #legendTop {
    margin-top: 220px;
  }
}
@media screen and (min-width: 567px) {
  #legendTop {
    margin-top: 290px;
  }
}
@media screen and (min-width: 592px) {
  #legendTop {
    margin-top: 400px;
  }
}
@media screen and (min-width: 599px) {
  #legendTop {
    margin-top: 30px;
  }
}
@media screen and (min-width: 767px) {
  #legendTop {
    display: none;
  }
}
@media screen and (min-width: 319px) {
  #focusTitle {
    display: block;
    text-align: center;
    font-family: 'FuturaBold';
    color: #e98300;
    font-size: 22px;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 767px) {
  #focusTitle {
    display: none;
  }
}
#page3 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* MOST SMARTPHONES PORTRAIT */

}
@media screen and (min-width: 319px) {
  #page3 {
    background-image: url('../img/background/specialization-640.jpg');
  }
}
@media screen and (min-width: 319px) and (min-height: 450px) {
  #page3 {
    background-image: url('../img/background/specialization-1024.jpg');
  }
}
@media screen and (min-width: 319px) and (min-height: 700px) {
  #page3 {
    background-image: url('../img/background/specialization-1280.jpg');
  }
}
@media screen and (min-width: 319px) and (min-height: 900px) {
  #page3 {
    background-image: url('../img/background/specialization-1440.jpg');
  }
}
@media screen and (min-width: 479px) {
  #page3 {
    background-image: url('../img/background/specialization-640.jpg');
  }
}
@media screen and (min-width: 479px) and (min-height: 450px) {
  #page3 {
    background-image: url('../img/background/specialization-1024.jpg');
  }
}
@media screen and (min-width: 479px) and (min-height: 700px) {
  #page3 {
    background-image: url('../img/background/specialization-1280.jpg');
  }
}
@media screen and (min-width: 479px) and (min-height: 900px) {
  #page3 {
    background-image: url('../img/background/specialization-1440.jpg');
  }
}
@media screen and (min-width: 639px) {
  #page3 {
    background-image: url('../img/background/specialization-800.jpg');
  }
}
@media screen and (min-width: 639px) and (min-height: 550px) {
  #page3 {
    background-image: url('../img/background/specialization-1280.jpg');
  }
}
@media screen and (min-width: 767px) {
  #page3 {
    background-image: url('../img/background/specialization-800.jpg');
  }
}
@media screen and (min-width: 767px) and (min-height: 550px) {
  #page3 {
    background-image: url('../img/background/specialization-1440.jpg');
  }
}
@media screen and (min-width: 799px) {
  #page3 {
    background-image: url('../img/background/specialization-1280.jpg');
  }
}
@media screen and (min-width: 1280px) {
  #page3 {
    background-image: url('../img/background/specialization-1440.jpg');
  }
}
@media screen and (min-width: 1439px) {
  #page3 {
    background-image: url('../img/background/specialization-1733.jpg');
  }
}
@media screen and (min-width: 1732px) {
  #page3 {
    background-image: url('../img/background/specialization-1920.jpg');
  }
}
@media screen and (min-width: 1919px) {
  #page3 {
    background-image: url('../img/background/specialization-2560.jpg');
  }
}
/* JOBS*/
@media screen and (min-width: 319px) {
  .jobBlock {
    margin: -20 0 50 0;
  }
}
@media screen and (min-width: 767px) {
  .jobBlock {
    margin: 50 0;
  }
}
.badge {
  padding-left: 0px;
  padding-right: 0px;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 3px rgba(0, 0, 0, 0.2);
  background-position: center;
  background-repeat: no-repeat;
}
.jobBlock h2 {
  font-family: 'FuturaBold';
  font-size: 22px;
  text-transform: capitalize;
}
.jobBlock img {
  position: relative;
  z-index: 100;
}
@media screen and (min-width: 319px) {
  .leftBlock {
    padding: 20;
  }
}
@media screen and (min-width: 767px) {
  .leftBlock {
    padding: 20;
    padding-left: 80;
  }
}
@media screen and (min-width: 319px) {
  .leftBlock h2 {
    margin: 0px;
  }
}
@media screen and (min-width: 767px) {
  .leftBlock h2 {
    margin-top: -40px;
  }
}
.leftBlock img {
  float: left;
}
@media screen and (min-width: 319px) {
  .rightBlock {
    padding: 20;
  }
}
@media screen and (min-width: 767px) {
  .rightBlock {
    padding: 20;
    padding-right: 80;
  }
}
.rightBlock > .badge {
  float: right;
}
#jobsPageTitle {
  color: #e98300;
}
@media screen and (min-width: 319px) {
  #jobsPageTitle {
    margin-left: 40%;
  }
}
@media screen and (min-width: 767px) {
  #jobsPageTitle {
    display: none;
  }
}
#jobsPageTitle h2 {
  font-family: 'FuturaBold';
  margin-left: 15px;
  margin-bottom: 25px;
}
#javaLogoSoftware {
  margin-left: -120px;
  margin-top: -50px;
  background-image: url('../img/jobs_javalogo.png');
}
@media screen and (min-width: 319px) {
  #javaLogoSoftware {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  #javaLogoSoftware {
    display: block;
  }
}
#javaLogoSoftwareTop {
  background-image: url('../img/jobs_javalogo.png');
}
@media screen and (min-width: 319px) {
  #javaLogoSoftwareTop {
    margin-left: 40%;
  }
}
@media screen and (min-width: 767px) {
  #javaLogoSoftwareTop {
    display: none;
  }
}
#apexLogo {
  margin-left: -120px;
  margin-top: -50px;
  background-image: url('../img/jobs_apexlogo.png');
}
@media screen and (min-width: 319px) {
  #apexLogo {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  #apexLogo {
    display: block;
  }
}
#apexLogoTop {
  background-image: url('../img/jobs_apexlogo.png');
}
@media screen and (min-width: 319px) {
  #apexLogoTop {
    margin-left: 40%;
  }
}
@media screen and (min-width: 767px) {
  #apexLogoTop {
    display: none;
  }
}
#androidLogo {
  margin-right: -120px;
  margin-top: -50px;
  background-image: url('../img/jobs_androidlogo.png');
}
@media screen and (min-width: 319px) {
  #androidLogo {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  #androidLogo {
    display: block;
  }
}
#androidLogoTop {
  background-image: url('../img/jobs_androidlogo.png');
}
@media screen and (min-width: 319px) {
  #androidLogoTop {
    margin-left: 40%;
  }
}
@media screen and (min-width: 767px) {
  #androidLogoTop {
    display: none;
  }
}
#javaLogoArchitectTop {
  background-image: url('../img/jobs_javalogo.png');
}
@media screen and (min-width: 319px) {
  #javaLogoArchitectTop {
    margin-left: 40%;
  }
}
@media screen and (min-width: 767px) {
  #javaLogoArchitectTop {
    display: none;
  }
}
#javaLogoArchitect {
  margin-right: -120px;
  margin-top: -50px;
  background-image: url('../img/jobs_javalogo.png');
}
@media screen and (min-width: 319px) {
  #javaLogoArchitect {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  #javaLogoArchitect {
    display: block;
  }
}
#javaSoftware,
#javaArchitect {
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
}
#javaSoftware h2,
#javaArchitect h2 {
  color: #e98300;
}
#mobileDeveloper {
  background-color: rgba(233, 131, 0, 0.8);
  color: #333333;
}
#mobileDeveloper h2 {
  color: white;
}
#apexSoftware {
  background-color: rgba(255, 255, 255, 0.8);
  color: #e98300;
}
#apexSoftware h2 {
  color: #333333;
}
#page4 {
  background-attachment: fixed;
  background-repeat: no-repeat;
}
@media screen and (min-width: 319px) {
  #page4 {
    background-image: url('../img/background/jobs-640.jpg');
  }
}
@media screen and (min-width: 319px) and (min-height: 450px) {
  #page4 {
    background-image: url('../img/background/jobs-1024.jpg');
  }
}
@media screen and (min-width: 319px) and (min-height: 700px) {
  #page4 {
    background-image: url('../img/background/jobs-1280.jpg');
  }
}
@media screen and (min-width: 319px) and (min-height: 900px) {
  #page4 {
    background-image: url('../img/background/jobs-1440.jpg');
  }
}
@media screen and (min-width: 479px) {
  #page4 {
    background-image: url('../img/background/jobs-640.jpg');
  }
}
@media screen and (min-width: 479px) and (min-height: 450px) {
  #page4 {
    background-image: url('../img/background/jobs-1024.jpg');
  }
}
@media screen and (min-width: 479px) and (min-height: 700px) {
  #page4 {
    background-image: url('../img/background/jobs-1280.jpg');
  }
}
@media screen and (min-width: 479px) and (min-height: 900px) {
  #page4 {
    background-image: url('../img/background/jobs-1440.jpg');
  }
}
@media screen and (min-width: 639px) {
  #page4 {
    background-image: url('../img/background/jobs-800.jpg');
  }
}
@media screen and (min-width: 639px) and (min-height: 550px) {
  #page4 {
    background-image: url('../img/background/jobs-1280.jpg');
  }
}
@media screen and (min-width: 767px) {
  #page4 {
    background-image: url('../img/background/jobs-800.jpg');
  }
}
@media screen and (min-width: 767px) and (min-height: 550px) {
  #page4 {
    background-image: url('../img/background/jobs-1440.jpg');
  }
}
@media screen and (min-width: 799px) {
  #page4 {
    background-image: url('../img/background/jobs-1280.jpg');
  }
}
@media screen and (min-width: 1280px) {
  #page4 {
    background-image: url('../img/background/jobs-1440.jpg');
  }
}
@media screen and (min-width: 1439px) {
  #page4 {
    background-image: url('../img/background/jobs-1733.jpg');
  }
}
@media screen and (min-width: 1732px) {
  #page4 {
    background-image: url('../img/background/jobs-1920.jpg');
  }
}
@media screen and (min-width: 1919px) {
  #page4 {
    background-image: url('../img/background/jobs-2560.jpg');
  }
}
