@orangeText: #E98300;
@gray: #EEEEEE;
@black: #000000;

h1, h2{
	font-family: 'FuturaMedium';
}

body{
	font-family: Arial, sans-serif;
}

h2{
	font-size:28px;
}
html{
	overflow:hidden;
}

.page{
	padding-top:100px;
	width:100%;
	height:93.66%;
	float: right;
	overflow-x:hidden;
}

.brand{
	background-image: url('../img/oraj_logo_big.png');
	background-repeat: no-repeat;
	background-position:center left;
	height: 15px;
	width: 281px;
}

#home-page-background{
	background-image: url('../img/home_text_bg.png');
	background-position-x: 300;
	background-position-y: 50;
	background-repeat: no-repeat;
	height:100%;
	width: 100%;
	text-align: center;
}

#orange{
	color: @orangeText;
	font-family: 'FuturaBold',Arial, sans-serif;
	font-size: 80pt;
	font-weight:bold;
	padding-top: 198px;
}

#homeText{
	color: @black;
	font-family: 'FuturaBold',Arial, sans-serif;
	font-size:43pt;
	line-height:75px;
	padding-top:50px;
	font-weight:bold;
}

#homeOrdinaLogo{
	padding-top: 50px;
}

#viewport{
	width:100%;
	height:100%;
	overflow:hidden;
}

.navbar-fixed-top{
	@media (max-width:979px){	margin-bottom:0px; }
	@media (max-width:767px) { margin-bottom:0px; }
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a{
	color:#000000;
	text-shadow:none;
	text-transform:capitalize;
	font-weight:bold;
}

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover{
	color: @orangeText;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{
	background-color: @black;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner{
	border-width: 0 0 2px;
}

.navbar .nav{
	float:right;
}

#ordina_logo{
	background-image: url('../img/ordina_logo.png');
	background-repeat: no-repeat;
	width:95px;
	height:40px;
	background-size:95px 25px;
	background-position:center right;
	margin-left:15px;
	@media (max-width:979px){	display:none;}
}


.navbar-background-image(){
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	filter: ;
}

.navbar-inverse .navbar-inner{
	.navbar-background-image();
	background-color: #ffffff;
	background-repeat: repeat-x;
	border-color: #252525;
}

body {
	@media (max-width: 767px) { padding-left:0;
								padding-right:0;}
}

#homepage{
	@media screen and (max-width:1920px){
		background-image: url('../img/background/home-1920.jpg');
		background-attachment:fixed;
	}
	@media screen and (max-width:1440px){
		background-image: url('../img/background/home-1440.jpg');
		background-attachment:fixed;
	}
	@media screen and (max-width:640px){
		background-image: url('../img/background/home-640.jpg');
		background-attachment:fixed;
		background-repeat: no-repeat;
	}
	@media screen and (max-width:480px){
		background-image: url('../img/background/home-480.jpg');
		background-attachment:fixed;
		background-repeat: no-repeat;
	}
}

#page2{
	@media screen and (max-width:1920px){
		background-image: url('../img/background/about-1920.jpg');
		background-attachment:fixed;
	}
	@media screen and (max-width:1440px){
		background-image: url('../img/background/about-1440.jpg');
		background-attachment:fixed;
	}
	@media screen and (max-width:640px){
		background-image: url('../img/background/about-640.jpg');
		background-attachment:fixed;
		background-repeat: no-repeat;
	}
	@media screen and (max-width:480px){
		background-image: url('../img/background/about-480.jpg');
		background-attachment:fixed;
		background-repeat: no-repeat;
	}
}
#page3{
	@media screen and (max-width:1920px){
		background-image: url('../img/background/specialization-1920.jpg');
		background-attachment:fixed;
	}
	@media screen and (max-width:1440px){
		background-image: url('../img/background/specialization-1440.jpg');
		background-attachment:fixed;
	}
	@media screen and (max-width:640px){
		background-image: url('../img/background/specialization-640.jpg');
		background-attachment:fixed;
		background-repeat: no-repeat;
	}
	@media screen and (max-width:480px){
		background-image: url('../img/background/specialization-480.jpg');
		background-attachment:fixed;
		background-repeat: no-repeat;
	}
}
#page4{
	@media screen and (max-width:1920px){
		background-image: url('../img/background/jobs-1920.jpg');
		background-attachment:fixed;
		
	}
	@media screen and (max-width:1440px){
		background-image: url('../img/background/jobs-1440.jpg');
		background-attachment:fixed;
	}
	@media screen and (max-width:640px){
		background-image: url('../img/background/jobs-640.jpg');
		background-attachment:fixed;
		background-repeat: no-repeat;
	}
	@media screen and (max-width:480px){
		background-image: url('../img/background/jobs-480.jpg');
		background-attachment:fixed;
		background-repeat: no-repeat;
	}
}

