@orangeText: #E98300;
@gray: #EEEEEE;

h1, h2{
	font-family: 'FuturaMedium';
}

body{
	font-family: Arial, sans-serif;
}

h2{
	font-size:28px;
}
html{
	overflow:hidden;
}

.page{
	padding-top:100px;
	width:100%;
	height:93.66%;
	float: right;
	overflow-x:hidden;
}

#viewport{
	width:100%;
	height:100%;
	overflow:hidden;
}

.navbar-fixed-top{
	@media (max-width:979px){	margin-bottom:0px; }
	@media (max-width:767px) { margin-bottom:0px; }
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a{
	color:#000000;
	text-shadow:none;
	text-transform:capitalize;
	font-weight:bold;
	padding-top:20px;
	padding-bottom:20px;
}

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover{
	color: @orangeText;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{
	background-color: @gray;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner{
	border-width: 0 0 2px;
}

.navbar .nav{
	float:right;
}

#ordina_logo{
	background-image: url('../img/ordina_logo.png');
	background-repeat: no-repeat;
	width:173px;
	height:38px;
	background-position:center center; 
	@media (max-width:979px){	display:none;}
}


.navbar-background-image(){
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	filter: ;
}

.navbar-inverse .navbar-inner{
	.navbar-background-image();
	background-color: #ffffff;
	background-repeat: repeat-x;
	border-color: #252525;
}

body {
	@media (max-width: 767px) { padding-left:0;
								padding-right:0;}
}

#homepage{
	@media screen and (max-width:1920px){
		background-image: url('../img/background/home-1920.jpg');
		background-attachment:fixed;
	}
	@media screen and (max-width:640px){
		background-image: url('../img/background/home-640.jpg');
		background-attachment:fixed;
		background-repeat: no-repeat;
	}
	@media screen and (max-width:480px){
		background-image: url('../img/background/home-480.jpg');
		background-attachment:fixed;
		background-repeat: no-repeat;
	}
}

#page2{
	@media screen and (max-width:1920px){
		background-image: url('../img/background/about-1920.jpg');
		background-attachment:fixed;
	}
	@media screen and (max-width:640px){
		background-image: url('../img/background/about-640.jpg');
		background-attachment:fixed;
		background-repeat: no-repeat;
	}
	@media screen and (max-width:480px){
		background-image: url('../img/background/about-480.jpg');
		background-attachment:fixed;
		background-repeat: no-repeat;
	}
}
#page3{
	@media screen and (max-width:1920px){
		background-image: url('../img/background/specialization-1920.jpg');
		background-attachment:fixed;
	}
	@media screen and (max-width:640px){
		background-image: url('../img/background/specialization-640.jpg');
		background-attachment:fixed;
		background-repeat: no-repeat;
	}
	@media screen and (max-width:480px){
		background-image: url('../img/background/specialization-480.jpg');
		background-attachment:fixed;
		background-repeat: no-repeat;
	}
}
#page4{
	@media screen and (max-width:1920px){
		background-image: url('../img/background/jobs-1920.jpg');
		background-attachment:fixed;
		
	}
	@media screen and (max-width:640px){
		background-image: url('../img/background/jobs-640.jpg');
		background-attachment:fixed;
		background-repeat: no-repeat;
	}
	@media screen and (max-width:480px){
		background-image: url('../img/background/jobs-480.jpg');
		background-attachment:fixed;
		background-repeat: no-repeat;
	}
}

